<footer class="site-footer">
  <div class="container">
    {% if not page.url | locale_links | length  < 1 %}
    {{"also_available_in" | i18n}}:
    {% endif %}
    {% for link in page.url | locale_links %}
      {%- if not loop.first %},{% endif %}
      <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
    {%- endfor %}
  </div>
</footer>
