{% set navToHtmlOptions = {
  activeKey: eleventyNavigation.key,
  listClass: 'menu-list',
  listItemClass: 'menu-item',
  anchorClass: 'menu-anchor',
  activeAnchorClass: 'menu-anchor-active'
} %}

<header class="site-header">
  <div class="container">
    <a class="menu-logo" href="{{ "/" | locale_url }}">Crumbs</a>
    {{ collections.all | eleventyNavigation('nav/pages/' + page.lang) | eleventyNavigationToHtml( navToHtmlOptions ) | safe }}
  </div>
</header>
