---
layout: default.njk
---

{{ content | safe }}

<ul class="post-cards-list">
  {%- for item in collections['content:' + page.fileSlug + ':' + page.lang] -%}
    <li class="post-cards-list-item">
      <article class="post-card">
        <div class="post-card-image">
          <img src="/img/placeholder-1280x720.png" alt="placeholder-1280x720.png"/>
        </div>
        <div class="post-card-content">
          <h2 class="post-card-title">{{ item.data.title }}</h2>
          {{ item.content | safe }}
          <a href="{{ item.page.url }}" class="post-card-link">{{ item.page.url }}</a>
        </div>
      </article>
    </li>
  {%- else -%}
    <li>{{ "no_items" | i18n }}</li>
  {%- endfor -%}
</ul>
