---
layout: default.njk
---

<article class="post-card">
  <div class="post-card-image">
    <img src="/img/placeholder-1280x720.png" alt="placeholder-1280x720.png"/>
  </div>
  <div class="post-card-content">
    <h2 class="post-card-title">{{ title }}</h2>
    {{ content | safe }}
  </div>
</article>
