<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ page.filePathStem }}"/>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    {% include "header.njk" %}

    <main class="site-content">
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
      
    {% include "footer.njk" %}
  </body>
</html>
