<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ page.filePathStem }}"/>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    {% include "header.njk" %}

    <hr>

    <button>Lorem ipsum dolor sit amet.</button>

    <main>
      {{ content | safe }}
    </main>

    <hr>
      
    {% include "footer.njk" %}
  </body>
</html>
