---
layout: default.njk
---

<div class="welcome-mat">
  <div class="welcome-mat-image">
    <img src="/img/undraw_exciting_news_re_y1iw.svg" alt="{{"welcome_to_crumbs" | i18n}}">
  </div>
  <div class="welcome-mat-content">
    {{ content | safe }}
  </div>
</div>
